---
import translation from "@/locales/es/traductions.json";
import CardService from "./CardService.astro";
import SectionTitle from "../SectionTitle.astro";
---

<section>
  <SectionTitle title={translation.services.title} />

  <div class="flex flex-col">
    {
      translation.services.data.map((item) => (
        <div class="group hover:bg-accent/5 flex py-8 border-b-[1px] border-muted/20 items-center overflow-hidden">
          <span class="w-1/3 text-center text-lg text-muted">0{item.id}</span>
          <CardService
            title={item.title}
            content={item.content}
            cta={translation.services.cta}
          />
        </div>
      ))
    }
  </div>
</section>
