---
const { title, description, image, url, type, id } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="group cursor-pointer flex flex-col justify-center lg:h-[450px] lg:hover:h-[600px] hover:justify-between gap-10 lg:w-[300px] lg:hover:w-[500px] transition-all border-r border-muted/20 first:border-l first:border-muted/20 duration-300 hover:border-r hover:border-r-accent/30 hover:bg-accent/5"
>
  <div class="px-4 mt-4">
    <p class="text-muted mb-4 group-hover:hidden">0{id}</p>
    <h3 class="text-xl">{title}</h3>
    <p class="text-muted text-sm">{type}</p>
  </div>

  <div class="hidden space-y-4 group-hover:block">
    <img
      src={image}
      alt={`${title} cover`}
      class="w-full h-auto object-cover"
    />
    <p class="text-sm px-4 mb-8 min-w-full text-muted">{description}</p>
  </div>
</a>
