---
const { title, description, image, url, type, id } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="group md:items-center lg:py-0 cursor-pointer flex flex-col justify-center lg:h-[450px] lg:hover:justify-between gap-10 lg:w-[300px] lg:hover:w-[500px] transition-all lg:border-r border-muted/20 lg:first:border-l first:border-muted/20 duration-500"
>
  <div class="mt-4">
    <p class="hidden lg:block text-muted mb-4 group-hover:hidden">0{id}</p>
    <h3 class="text-xl">{title}</h3>
    <p class="text-muted text-sm">{type}</p>
  </div>

  <div class="space-y-4 md:w-2/3 xl:w-full lg:hidden lg:group-hover:block">
    <img
      src={image}
      alt={`${title} cover`}
      class="w-full h-auto object-cover"
    />
    <p class="lg:text-sm lg:px-4 min-w-full text-muted">{description}</p>
  </div>
</a>
