---
import translation from "@/locales/es/traductions.json";
import SectionTitle from "../SectionTitle.astro";
import CardProject from "./CardProject.astro";
---

<section id="projects">
  <SectionTitle title={translation.projects.title} />
  <div class="lg:flex justify-center min-h-[600px]">
    {
      translation.projects.data.map((project) => (
        <CardProject
          title={project.title}
          description={project.description}
          image={project.image}
          url={project.url}
          type={project.type}
          id={project.id}
        />
      ))
    }
  </div>
</section>
