---
import SectionTitle from "../SectionTitle.astro";
import { getSecret } from "astro:env/server";

const { t } = Astro.props;
const SITE_URL = getSecret("SITE_URL");
const lang = Astro.url.pathname.split("/")[1];
---

<section id="contact">
  <SectionTitle title={t.contact.title} />
  <div id="contact-wrapper" class="mx-auto text-center lg:w-1/2">
    <p class="text-muted mb-14 max-w-xl mx-auto">
      {t.contact.description}
    </p>

    <form
      name="contact"
      method="POST"
      action="https://formsubmit.co/f113e2976e8e9bbcb306773f79d0741e"
      class="flex flex-col gap-4 text-left"
    >
      <div>
        <label for="name" class="text-sm text-muted"
          >{t.contact.nameLabel}</label
        >
        <input
          type="text"
          id="name"
          name="name"
          required
          class="px-4 py-2 border border-muted/30 rounded-xl bg-transparent focus:outline-none focus:ring-2 focus:ring-accent/60 transition-all"
        />
      </div>

      <div>
        <label for="email" class="text-sm text-muted"
          >{t.contact.emailLabel}</label
        >
        <input
          type="email"
          id="email"
          name="email"
          required
          class="px-4 py-2 border border-muted/30 rounded-xl bg-transparent focus:outline-none focus:ring-2 focus:ring-accent/60 transition-all"
        />
      </div>

      <div>
        <label for="message" class="text-sm text-muted"
          >{t.contact.messageLabel}</label
        >
        <textarea
          id="message"
          name="message"
          rows="5"
          required
          class="px-4 py-2 border border-muted/30 rounded-xl bg-transparent focus:outline-none focus:ring-2 focus:ring-accent/60 transition-all"
        ></textarea>
      </div>

      <!-- Hidden inputs -->
      <input
        type="hidden"
        name="_next"
        value={`${SITE_URL}/${lang ? `${lang}/email-sent` : "email-sent"}`}
      />
      <input type="hidden" name="_subject" value={`Email from ${SITE_URL}`} />
      <!-- <input type="hidden" name="_autoresponse" value="He recibido tu email, en breves te daré una respuesta, gracias!"> -->

      <button
        type="submit"
        class="mt-4 bg-accent text-white py-3 px-6 rounded-xl hover:bg-accent/90 transition-all"
      >
        {t.contact.cta}
      </button>
    </form>
  </div>
</section>

<style>
  form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
