---
import Github from "@/components/svg/Github.astro";
import Linkedin from "@/components/svg/Linkedin.astro";
import Instagram from "@/components/svg/Instagram.astro";
const year = new Date().getFullYear();
const { t } = Astro.props;
---

<footer
  class="bg-background border-t border-muted/20 py-12 px-6 text-foreground"
>
  <div
    class="max-w-7xl mx-auto flex flex-col gap-6 sm:flex-row sm:items-center sm:justify-between"
  >
    <!-- Copyright -->
    <p class="text-xs text-muted tracking-wide text-center sm:text-left">
      &copy; {year}
      {t.footer.title}. {t.footer.copyright}
    </p>

    <div class="flex justify-center gap-4 sm:justify-end xl:hidden">
      <Github />
      <Linkedin />
      <Instagram />
    </div>

    <nav class="flex flex-wrap justify-center gap-4 text-xs text-muted">
      {
        t.header.nav.map((item: { name: string; link: string }) => (
          <a href={item.link}>{item.name}</a>
        ))
      }
    </nav>
  </div>
</footer>
